/* 
  클래스를 추가하는 것을 통해 우선 순위를 좀 더 줘서 
  기본 스타일을 override 할 수 있도록 함
  (기본 타일 disabled스타일은 
  .react-calendar__tile:disabled)
*/
.react-calendar__tile.prev_meeting_day:disabled {
  background-color: var(--colors-gray);
  color: #fff;
  font-weight: bold;
}
