@tailwind base;
@tailwind components;
@tailwind utilities;

@import "pretendard/dist/web/static/pretendard.css";

:root {
  --colors-primary: #00c471;
  --colors-secondary: #343a40;
  --colors-gray: #ced4da;
  --colors-light-gray: #f6f6f6;
  --colors-dark-gray: #616568;
  --colors-success: #198754;
  --colors-info: #ecf5ff;
  --colors-danger: #dc3545;
  --bg-socialKakao: #fae500;
  --bg-socialGoogle: #f8f8f8;
  --bg-socialGithub: #3c4043;
  --zIndex-header: 8;
  --zIndex-navigation: 7;
  --zIndex-modal-container: 9;
  --zIndex-modal-dim: 10;
  --zIndex-modal: 11;
  --height-header: 64px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--colors-gray);
  border-radius: 16px;
}

/* react toastify */
.Toastify__toast-container--top-center {
  margin-top: 2rem !important;
}

.Toastify__toast-container--bottom-center {
  margin-top: 2rem !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-center {
    margin-top: 2rem !important;
  }

  .Toastify__toast-container--bottom-center {
    margin-bottom: 2rem !important;
  }
}
