name: Docker build & push
on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  build:
    name: docker_build
    if: github.repository == KernelSquare/Frontend && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_TAG }}
          build-args: |
            NEXT_PUBLIC_API_MOCKING=${{ secrets.NEXT_PUBLIC_API_MOCKING }} \
            NEXT_PUBLIC_SITE_URL=${{ secrets.NEXT_PUBLIC_SITE_URL }} \
            NEXT_PUBLIC_SERVER=${{ secrets.NEXT_PUBLIC_SERVER }} \
            NEXT_PUBLIC_WS=${{ secrets.NEXT_PUBLIC_WS }} \
            NEXT_PUBLIC_CRYPTO_IV_SECRET=${{ secrets.NEXT_PUBLIC_CRYPTO_IV_SECRET }} \
            NEXT_PUBLIC_CRYPTO_IV_LENGTH=${{ secrets.NEXT_PUBLIC_CRYPTO_IV_LENGTH }}
  notify:
    needs: build
    if: github.repository == KernelSquare/Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        uses: slackapi/slack-github-action@v1.25.0
        with:
          payload: |
            {
              "text": "Github Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
